.hex {
  width: clamp(24px, 8vw, 64px);
  height: clamp(28px, 9vw, 64px);
  
  background: rgba(119, 118, 118, 0.862);
  border: 1px solid rgba(57, 56, 56, 0.559);

  /* Create the hexagonal shape using clip-path. */
  clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
}

/* Efecto pop up cuando el cursor pasa */
.hex:hover:not(:disabled) {
  transform: translateY(-1px);
  filter: brightness(1.12);
}

/* Botón presionado: vuelve a su posición */
.hex:active:not(:disabled) {
  transform: translateY(0px);
  filter: brightness(1.06);
}

.hex:disabled {
  opacity: 0.5;
}

/* Player1: color azul */
.hex--player1 { background: rgba(77, 163, 255, 0.855); border-color: rgba(7,126,254,0.8); }

/* Player2: color rojo */
.hex--player2 { background: rgba(255,80,80,0.62); border-color: rgb(255, 3, 3); }
