/* AccountSettings.module.css */

.dangerBtn {
  background: #da2626;
  color: rgb(255, 255, 255);
  border: none;
  padding: 0.6rem 1.5rem; /* Ajustado ligeramente para encajar en la fila */
  border-radius: 0.4rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.dangerBtn:hover {
  background: #b01e1e;
}

.primaryBtn {
  background: #0015ff;
  color: rgb(255, 255, 255);
  border: none;
  padding: 0.6rem 1.5rem;
  border-radius: 0.4rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.primaryBtn:hover {
  background: #0056b3;
}